@page "/guarantee/createorupdate/{Id:int?}"


@inject NavigationManager NavigationManager
@inject IApiClientFactory ApiClientFactory
@inject IHttpClientFactory HttpClientFactory
@inject IToastNotificationService ToastService

<div class="content-root">
    <div class="card toolbar">
        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <Items>
                <DxToolbarItem IconCssClass="back-icon icon medium-icon" Tooltip="Geri Dön" Click="@NavigateBack" />
                <DxToolbarItem>
                    <Template>
                        <div class="custom-item">
                            <div class="title">@(Id > 0 ? "Teminat Düzenleme" : "Yeni Teminat Tanımlama")</div>
                        </div>
                    </Template>
                </DxToolbarItem>
                <DxToolbarItem Alignment="ToolbarItemAlignment.Right">
                    <Template>
                        <DxButton Text="Kaydet"
                                  Click="SaveFromOutside"
                                  Enabled="!IsSaving"
                                  RenderStyleMode="ButtonRenderStyleMode.Outline"
                                  RenderStyle="ButtonRenderStyle.Success" />
                    </Template>
                </DxToolbarItem>
            </Items>
        </DxToolbar>
    </div>

    <div class="guarantee-edit">
        <DxLoadingPanel Visible="@(EditContext == null)" IsContentBlocked="true" IsContentVisible="false" IndicatorVisible="true" IndicatorAreaVisible="true" ZIndex="101" Text="Yükleniyor...">
            @if (EditContext != null)
            {
                <DxGridLayout ColumnSpacing="1rem" RowSpacing="1rem" CssClass="h-100">
                    <Columns>
                        <DxGridLayoutColumn Width="100%" />
                    </Columns>
                    <Rows>
                        <DxGridLayoutRow Areas="Item1" />
                    </Rows>
                    <Items>
                        <DxGridLayoutItem Area="item1">
                            <Template>
                                <EditForm EditContext="@EditContext" Context="formContext">

                                    <DataAnnotationsValidator />

                                    <DxFormLayout ColSpanMd="6">

                                        <DxFormLayoutItem Caption="Teminat Türü">
                                            <DxComboBox Data="@(new List<string> { "Geçici", "Kati" })" @bind-Value="Model.GuaranteeType" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Teminat Şekli">
                                            <DxComboBox Data="@(new List<string> { "Banka Mektubu", "Nakit" })" @bind-Value="Model.GuaranteeForm" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Firma">
                                            <DxComboBox Data="@Firms"
                                                        @bind-Value="Model.FirmId"
                                                        TextFieldName="FirmName"
                                                        ValueFieldName="Id"
                                                        FilteringMode="DataGridFilteringMode.Contains"
                                                        SearchMode="ListSearchMode.AutoSearch" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Konu">
                                            <DxTextBox @bind-Text="Model.Subject" ValidationEnabled="true" ShowValidationIcon="true" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Düzenleyen Banka">
                                            <DxComboBox Data="@Banks"
                                                        TData="BankModel"
                                                        TValue="string"
                                                        TextFieldName="Name"
                                                        ValueFieldName="Code"
                                                        Value="@Model.BankCode"
                                                        ValueChanged="@(async (string code) => await OnBankChanged(code))"
                                                        ValueExpression="@(() => Model.BankCode)" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Düzenleyen Şube">
                                            <DxComboBox Data="@BankBranches"
                                                        TData="BankBranchModel"
                                                        TValue="string"
                                                        TextFieldName="Name"
                                                        ValueFieldName="Code" 
                                                        Value="@Model.BankBranchCode" 
                                                        ValueChanged="@((string code) => OnBranchChanged(code))" 
                                                        ValueExpression="@(() => Model.BankBranchCode)"
                                                        Enabled="@(BankBranches != null && BankBranches.Any())" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Teminat Tutarı">
                                            <DxSpinEdit @bind-Value="Model.GuaranteeAmount" DisplayFormat="N2" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Döviz Tipi">
                                            <DxComboBox Data="@(new List<string> { "TRY", "USD", "EUR" })"
                                                        @bind-Value="Model.Currency" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Komisyon Oranı">
                                            <DxSpinEdit @bind-Value="Model.CommissionRate" DisplayFormat="N4" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Kamu İdare Unvanı" ColSpanMd="6">
                                            <DxTextBox @bind-Text="Model.PublicAuthorityName">
                                                <Buttons>
                                                    <DxEditorButton IconCssClass="three-point-icon icon medium-icon"
                                                                    Tooltip="Hesap Kodu Seç"
                                                                    Click="OpenCustomerPopup" />
                                                </Buttons>
                                            </DxTextBox>
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Gider Hesap Kodu" ColSpanMd="6">
                                            <DxTextBox @bind-Text="Model.ExpenseAccountName">
                                                <Buttons>
                                                    <DxEditorButton IconCssClass="three-point-icon icon medium-icon"
                                                                    Tooltip="Hesap Kodu Seç"
                                                                    Click="OpenExpensePopup" />
                                                </Buttons>
                                            </DxTextBox>
                                        </DxFormLayoutItem>


                                        <DxFormLayoutItem Caption="Komisyon Tutarı">
                                            <DxSpinEdit @bind-Value="Model.CommissionAmount" DisplayFormat="N2" ReadOnly="true" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Düzenlenme Tarihi">
                                            <DxDateEdit @bind-Date="Model.GuaranteeDate" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Geçerlilik Tarihi">
                                            <DxDateEdit @bind-Date="Model.ExpiryDate" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Belge Numarası">
                                            <DxTextBox @bind-Text="Model.GuaranteeNumber" ValidationEnabled="true" ShowValidationIcon="true" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Takasbank Ref No" ColSpanMd="12">
                                            <DxTextBox @bind-Text="Model.TakasbankReferenceNo" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem ColSpanMd="12">
                                            <ValidationSummary />
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </EditForm>
                            </Template>
                        </DxGridLayoutItem>
                    </Items>
                </DxGridLayout>
            }
        </DxLoadingPanel>
    </div>
</div>



<DxPopup @bind-Visible="ExpensePopupVisible" HeaderText="Gider Hesap Kodu Seçimi" Width="800px" Height="600px" Scrollable="true">
    <BodyTemplate>
        <DxGrid Data="@ExpenseDataSource" ShowFilterRow="true" PageSize="12" SelectionMode="GridSelectionMode.Single" SelectedDataItemChanged="@OnExpenseSelected" KeyFieldName="Code" FilteringMode="GridFilteringMode.FilterRow">
            <Columns>
                <DxGridSelectionColumn Width="100px" />
                <DxGridDataColumn FieldName="Code" Caption="Hesap Kodu" Width="150px" />
                <DxGridDataColumn FieldName="Name" Caption="Hesap Adı" />
            </Columns>
        </DxGrid>
    </BodyTemplate>
</DxPopup>

<DxPopup @bind-Visible="CustomerPopupVisible" HeaderText="Kamu İdare Unvanı Seçimi" Width="800px" Height="600px" Scrollable="true">
    <BodyTemplate>
        <DxGrid Data="@CustomerDataSource" ShowFilterRow="true" PageSize="12" SelectionMode="GridSelectionMode.Single" SelectedDataItemChanged="@OnCustomerSelected" VirtualScrollingEnabled="true" KeyFieldName="Code" FilteringMode="GridFilteringMode.FilterRow">
            <Columns>
                <DxGridSelectionColumn Width="100px" />
                <DxGridDataColumn FieldName="Code" Caption="Hesap Kodu" Width="150px" />
                <DxGridDataColumn FieldName="Name" Caption="Hesap Adı" />
            </Columns>
        </DxGrid>
    </BodyTemplate>
</DxPopup>

@code {
    [Parameter] public int? Id { get; set; }

    private GuaranteeModel Model = new();
    private EditContext? EditContext;
    private bool IsSaving, IsSuccess;
    private IEnumerable<FirmSelectModel>? Firms { get; set; }
    private IEnumerable<BankModel>? Banks { get; set; }
    private IEnumerable<BankBranchModel>? BankBranches { get; set; }

    private bool ExpensePopupVisible { get; set; }
    private GridDevExtremeDataSource<ExpenseAccountCodeModel>? ExpenseDataSource;

    private bool CustomerPopupVisible { get; set; }
    private GridDevExtremeDataSource<CustomerModel>? CustomerDataSource;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = await ApiClientFactory.CreateAsync(HttpClientFactory.CreateClient("ApiClient"));
            string baseUrl = "https://localhost:7071/api";


            await LoadBanksAsync();
            await LoadFirmsAsync();

            if (Id.HasValue && Id.Value > 0)
            {

                var httpClient = HttpClientFactory.CreateClient("ApiClient");
                var api_client = await ApiClientFactory.CreateAsync(httpClient);
                Model = await api_client.GetFromJsonAsync<GuaranteeModel>($"api/guarantees/{Id.Value}");

                if (!string.IsNullOrEmpty(Model.BankCode))
                {
                    await LoadBranchesAsync(Model.BankCode);
                }
            }
            else
            {
                Model = new GuaranteeModel { GuaranteeDate = DateTime.Now };
            }

            EditContext = new EditContext(Model);
            ExpenseDataSource = new GridDevExtremeDataSource<ExpenseAccountCodeModel>(client, NavigationManager.ToAbsoluteUri($"{baseUrl}/netsis/expense-account-codes/list"));
            CustomerDataSource = new GridDevExtremeDataSource<CustomerModel>(client, NavigationManager.ToAbsoluteUri($"{baseUrl}/netsis/customers/pagedList"));
        }
        catch (Exception ex)
        {
            ToastService.ShowToast(new ToastOptions()
            {
                ProviderName = "Overview",
                ThemeMode = ToastThemeMode.Light,
                RenderStyle = ToastRenderStyle.Warning,
                Title = "Veriler Yüklenirken bir hata oluştu",
                Text = $"{ex.Message}"
            }, RenderToastButton(true));
        }
    }

    private RenderFragment RenderToastButton(bool isError)
    {
        return @<div class="d-flex gap-2">
            <DxButton Click="@(isError? OnPopupError:OnPopupOk)" RenderStyle="@(isError? ButtonRenderStyle.Danger: ButtonRenderStyle.Success)">Kapat</DxButton>
        </div>;
    }

    private void OnExpenseSelected(object selectedItem)
    {
        if (selectedItem is ExpenseAccountCodeModel selectedAccount)
        {
            Model.ExpenseAccountName = selectedAccount.Name;
            Model.ExpenseAccountCode = selectedAccount.Code;
            ExpensePopupVisible = false;
            StateHasChanged();
        }
    }
    private void OnCustomerSelected(object selectedItem)
    {
        if (selectedItem is CustomerModel selectedCustomer)
        {
            Model.PublicAuthorityCode = selectedCustomer.Code;
            Model.PublicAuthorityName = selectedCustomer.Name;
            CustomerPopupVisible = false;
            StateHasChanged();
        }
    }
    private async Task LoadFirmsAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        Firms = await client.GetFromJsonAsync<List<FirmSelectModel>>("api/firms/list");
    }

    private async Task LoadBanksAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        Banks = await client.GetFromJsonAsync<List<BankModel>>("api/netsis/banks/list");
    }

    private async Task OnBankChanged(string bankCode)
    {
        if (string.IsNullOrWhiteSpace(bankCode)) return;
        if (Banks == null) return;

        Model.BankCode = bankCode;
        Model.BankName = Banks.Where(x => x.Code == bankCode).Select(m => m.Name).FirstOrDefault();
        Model.BankBranchCode = "";
        Model.BankBranchName = "";

        await LoadBranchesAsync(bankCode);
    }

    private async Task LoadBranchesAsync(string bankCode)
    {
        if (string.IsNullOrEmpty(bankCode)) return;
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        BankBranches = await client.GetFromJsonAsync<List<BankBranchModel>>($"api/netsis/bankbranches/list?bankCode={bankCode}");

        if (BankBranches != null && BankBranches.Count() == 1)
        {
            var branch = BankBranches.First();
            Model.BankBranchCode = branch.Code;
            Model.BankBranchName = branch.Name;
            StateHasChanged();
        }
    }
    private void OnBranchChanged(string branchCode)
    {
        if (string.IsNullOrEmpty(branchCode) || BankBranches == null) return;

        var selectedBranch = BankBranches.FirstOrDefault(x => x.Code == branchCode);
        if (selectedBranch != null)
        {
            Model.BankBranchCode = selectedBranch.Code;
            Model.BankBranchName = selectedBranch.Name; 
        }
    }

    private async Task SaveFromOutside()
    {
        if (IsSaving || EditContext == null) return;
        if (!EditContext.Validate()) return;
        await HandleValidSubmit();
    }

    private async Task HandleValidSubmit()
    {
        if (IsSaving) return;
        IsSaving = true;
        IsSuccess = false;

        try
        {
            var httpClient = HttpClientFactory.CreateClient("ApiClient");
            var client = await ApiClientFactory.CreateAsync(httpClient);
            HttpResponseMessage response;

            if (Model.Id > 0)
            {
                response = await client.PutAsJsonAsync("api/guarantees", Model);
            }
            else
            {
                response = await client.PostAsJsonAsync("api/guarantees", Model);
            }

            if (response.IsSuccessStatusCode)
            {
                IsSuccess = true;
              

                ToastService.ShowToast(new ToastOptions()
                {
                    Id = "toast",
                    ProviderName = "Overview",
                    ThemeMode = ToastThemeMode.Light,
                    RenderStyle = ToastRenderStyle.Success,
                    Title = "Başarılı",
                    Text = "Teminat bilgileri başarılı bir şekilde kaydedildi."
                }, RenderToastButton(false));
            }
            else
            {
                var errorMsg = await response.Content.ReadAsStringAsync();

                ToastService.ShowToast(new ToastOptions()
                {
                    Id = "toast",
                    ProviderName = "Overview",
                    ThemeMode = ToastThemeMode.Light,
                    RenderStyle = ToastRenderStyle.Danger,
                    Title = "Hata",
                    Text = errorMsg
                }, RenderToastButton(true));
            }
        }
        catch (Exception)
        {

            IsSuccess = false;
        }
        finally
        {
       
            IsSaving = false;
        }
    }

    private void OnPopupOk()
    {
        if (IsSuccess) NavigationManager.NavigateTo("/guarantee/list");
    }

    private void OnPopupError()
    {
    }
    private void OpenCustomerPopup()
    {
        CustomerPopupVisible = true;
    }

    private void OpenExpensePopup()
    {
        ExpensePopupVisible = true;
    }

    private void NavigateBack() => NavigationManager.NavigateTo("/guarantee/list");
}