@page "/guarantee/createorupdate/{Id:int?}"
@inject NavigationManager NavigationManager
@inject IApiClientFactory ApiClientFactory
@inject IHttpClientFactory HttpClientFactory
@inject IToastNotificationService ToastService

<div class="content-root">
    <div class="card toolbar">
        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <Items>
                <DxToolbarItem IconCssClass="back-icon icon medium-icon" Tooltip="Geri Dön" Click="@NavigateBack" />
                <DxToolbarItem>
                    <Template>
                        <div class="custom-item">
                            <div class="title">@(Id > 0 ? "Teminat Düzenleme" : "Yeni Teminat Tanımlama")</div>
                        </div>
                    </Template>
                </DxToolbarItem>
                <DxToolbarItem Alignment="ToolbarItemAlignment.Right">
                    <Template>
                        <DxButton Text="Kaydet"
                                  Click="SaveFromOutside"
                                  Enabled="@(!IsSaving)"
                                  RenderStyleMode="ButtonRenderStyleMode.Outline"
                                  RenderStyle="ButtonRenderStyle.Success" />
                    </Template>
                </DxToolbarItem>
            </Items>
        </DxToolbar>
    </div>

    <div class="guarantee-edit">
        <DxLoadingPanel Visible="@(EditContext == null)" IsContentBlocked="true" IsContentVisible="false" IndicatorVisible="true" IndicatorAreaVisible="true" ZIndex="101" Text="Yükleniyor...">
            @if (EditContext != null && Model != null)
            {
                <DxGridLayout ColumnSpacing="1rem" RowSpacing="1rem" CssClass="h-100">
                    <Columns>
                        <DxGridLayoutColumn Width="100%" />
                    </Columns>
                    <Rows>
                        <DxGridLayoutRow Areas="Item1" />
                    </Rows>
                    <Items>
                        <DxGridLayoutItem Area="item1">
                            <Template>
                                <EditForm EditContext="@EditContext" Context="formContext">
                                    <DataAnnotationsValidator />

                                    <DxFormLayout ColSpanMd="6">

                                        <DxFormLayoutItem Caption="Teminat Türü" ColSpanMd="6">
                                            <DxComboBox Data="@(new List<string> { "Geçici", "Kati" })" @bind-Value="Model.GuaranteeType" />
                                            @if (ShowValidationMessages && string.IsNullOrWhiteSpace(Model.GuaranteeType))
                                            {
                                                <small class="text-danger mt-1">Teminat türü seçilmelidir.</small>
                                            }
                                        </DxFormLayoutItem>


                                        <DxFormLayoutItem Caption="Teminat Şekli" ColSpanMd="6">
                                            <DxComboBox Data="@(new List<string> { "Banka Mektubu", "Nakit" })" @bind-Value="Model.GuaranteeForm" />
                                            @if (ShowValidationMessages && string.IsNullOrWhiteSpace(Model.GuaranteeForm))
                                            {
                                                <small class="text-danger mt-1">Teminat şekli seçilmelidir.</small>
                                            }
                                        </DxFormLayoutItem>


                                        <DxFormLayoutItem Caption="Firma" ColSpanMd="6">
                                            <DxComboBox Data="@Firms"
                                                        @bind-Value="Model.FirmId"
                                                        TextFieldName="FirmName"
                                                        ValueFieldName="Id"
                                                        SearchMode="ListSearchMode.AutoSearch" />
                                            @if (ShowValidationMessages && Model.FirmId <= 0)
                                            {
                                                <small class="text-danger mt-1">Lütfen bir firma seçiniz.</small>
                                            }
                                        </DxFormLayoutItem>


                                        <DxFormLayoutItem Caption="Konu" ColSpanMd="6">
                                            <DxTextBox @bind-Text="Model.Subject"
                                                       ValidationEnabled="true"
                                                       ShowValidationIcon="true"
                                                       BindValueMode="BindValueMode.OnInput" />
                                            @if (ShowValidationMessages && string.IsNullOrWhiteSpace(Model.Subject))
                                            {
                                                <small class="text-danger mt-1">Konu alanı boş bırakılamaz.</small>
                                            }
                                        </DxFormLayoutItem>


                                        <DxFormLayoutItem Caption="Düzenleyen Banka" ColSpanMd="6">
                                            <DxComboBox Data="@Banks"
                                                        TData="BankModel"
                                                        TValue="string"
                                                        TextFieldName="Name"
                                                        ValueFieldName="Code"
                                                        Value="@Model.BankCode"
                                                        ValueChanged="@(async (string code) => await OnBankChanged(code))"
                                                        ValueExpression="@(() => Model.BankCode)" />
                                            @if (ShowValidationMessages && string.IsNullOrWhiteSpace(Model.BankCode))
                                            {
                                                <small class="text-danger mt-1">Banka seçimi zorunludur.</small>
                                            }
                                        </DxFormLayoutItem>


                                        <DxFormLayoutItem Caption="Düzenleyen Şube" ColSpanMd="6">
                                            <DxComboBox Data="@BankBranches"
                                                        TData="BankBranchModel"
                                                        TValue="string"
                                                        TextFieldName="Name"
                                                        ValueFieldName="Code"
                                                        Value="@Model.BankBranchCode"
                                                        ValueChanged="@((string code) => OnBranchChanged(code))"
                                                        ValueExpression="@(() => Model.BankBranchCode)"
                                                        Enabled="@(BankBranches != null && BankBranches.Any())" />
                                        </DxFormLayoutItem>

                                        
                                        <DxFormLayoutItem Caption="Teminat Tutarı" ColSpanMd="6">
                                            <DxSpinEdit @bind-Value="Model.GuaranteeAmount" DisplayFormat="N2" />
                                        </DxFormLayoutItem>


                                        <DxFormLayoutItem Caption="Döviz Tipi" ColSpanMd="6">
                                            <DxComboBox Data="@(new List<string> { "TRY", "USD", "EUR" })"
                                                        @bind-Value="Model.Currency" />
                                            @if (ShowValidationMessages && string.IsNullOrWhiteSpace(Model.Currency))
                                            {
                                                <small class="text-danger mt-1">Döviz tipi seçilmelidir.</small>
                                            }
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Komisyon Oranı" ColSpanMd="6">
                                            <DxSpinEdit @bind-Value="Model.CommissionRate" DisplayFormat="N4" />
                                        </DxFormLayoutItem>


                                        @if (Model.GuaranteeType == "Kati")
                                        {
                                            <DxFormLayoutItem Caption="Kamu İdare Unvanı" ColSpanMd="6">
                                                <DxTextBox @bind-Text="Model.PublicAuthorityName" BindValueMode="BindValueMode.OnInput">
                                                    <Buttons>
                                                        <DxEditorButton IconCssClass="three-point-icon icon medium-icon"
                                                                        Tooltip="Hesap Kodu Seç"
                                                                        Click="OpenCustomerPopup" />
                                                    </Buttons>
                                                </DxTextBox>
                                                @if (ShowValidationMessages && string.IsNullOrWhiteSpace(Model.PublicAuthorityName))
                                                {
                                                    <small class="text-danger mt-1">Kati teminatlar için Kamu İdare Unvanı zorunludur.</small>
                                                }
                                            </DxFormLayoutItem>
                                        }

                                        @if (Model.GuaranteeType == "Geçici")
                                        {
                                            <DxFormLayoutItem Caption="Gider Hesap Kodu" ColSpanMd="6">
                                                <DxTextBox @bind-Text="Model.ExpenseAccountName" BindValueMode="BindValueMode.OnInput">
                                                    <Buttons>
                                                        <DxEditorButton IconCssClass="three-point-icon icon medium-icon"
                                                                        Tooltip="Hesap Kodu Seç"
                                                                        Click="OpenExpensePopup" />
                                                    </Buttons>
                                                </DxTextBox>
                                                @if (ShowValidationMessages && string.IsNullOrWhiteSpace(Model.ExpenseAccountName))
                                                {
                                                    <small class="text-danger mt-1">Geçici teminatlar için Gider Hesap Kodu zorunludur.</small>
                                                }
                                            </DxFormLayoutItem>
                                        }

                                        <DxFormLayoutItem Caption="Komisyon Tutarı" ColSpanMd="6">
                                            <DxSpinEdit @bind-Value="Model.CommissionAmount" DisplayFormat="N2" ReadOnly="true" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Düzenlenme Tarihi" ColSpanMd="6">
                                            <DxDateEdit @bind-Date="Model.GuaranteeDate" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Geçerlilik Tarihi" ColSpanMd="6">
                                            <DxDateEdit @bind-Date="Model.ExpiryDate" />
                                        </DxFormLayoutItem>


                                        <DxFormLayoutItem Caption="Belge Numarası" ColSpanMd="6">
                                            <DxTextBox @bind-Text="Model.GuaranteeNumber"
                                                       ValidationEnabled="true"
                                                       ShowValidationIcon="true"
                                                       BindValueMode="BindValueMode.OnInput" />
                                            @if (ShowValidationMessages && string.IsNullOrWhiteSpace(Model.GuaranteeNumber))
                                            {
                                                <small class="text-danger mt-1">Belge numarası zorunludur.</small>
                                            }
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Takasbank Ref No" ColSpanMd="6">
                                            <DxTextBox @bind-Text="Model.TakasbankReferenceNo" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem ColSpanMd="12">
                                            <ValidationSummary />
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </EditForm>
                            </Template>
                        </DxGridLayoutItem>
                    </Items>
                </DxGridLayout>
            }
        </DxLoadingPanel>
    </div>
</div>



<DxPopup @bind-Visible="ExpensePopupVisible" HeaderText="Gider Hesap Kodu Seçimi" Width="800px" Height="600px" Scrollable="true">
    <BodyTemplate>
        <DxGrid Data="@ExpenseDataSource" ShowFilterRow="true" PageSize="12" SelectionMode="GridSelectionMode.Single" SelectedDataItemChanged="@OnExpenseSelected" KeyFieldName="Code">
            <Columns>
                <DxGridSelectionColumn Width="100px" />
                <DxGridDataColumn FieldName="Code" Caption="Hesap Kodu" Width="150px" />
                <DxGridDataColumn FieldName="Name" Caption="Hesap Adı" />
            </Columns>
        </DxGrid>
    </BodyTemplate>
</DxPopup>

<DxPopup @bind-Visible="CustomerPopupVisible" HeaderText="Kamu İdare Unvanı Seçimi" Width="800px" Height="600px" Scrollable="true">
    <BodyTemplate>
        <DxGrid Data="@CustomerDataSource" ShowFilterRow="true" PageSize="12" SelectionMode="GridSelectionMode.Single" SelectedDataItemChanged="@OnCustomerSelected" VirtualScrollingEnabled="true" KeyFieldName="Code">
            <Columns>
                <DxGridSelectionColumn Width="100px" />
                <DxGridDataColumn FieldName="Code" Caption="Hesap Kodu" Width="150px" />
                <DxGridDataColumn FieldName="Name" Caption="Hesap Adı" />
            </Columns>
        </DxGrid>
    </BodyTemplate>
</DxPopup>

@code {
    [Parameter] public int? Id { get; set; }

    private GuaranteeModel? Model = new();
    private EditContext? EditContext;
    private bool IsSaving, IsSuccess;
    private IEnumerable<FirmSelectModel>? Firms { get; set; }
    private IEnumerable<BankModel>? Banks { get; set; }
    private IEnumerable<BankBranchModel>? BankBranches { get; set; }

    private bool ExpensePopupVisible { get; set; }
    private GridDevExtremeDataSource<ExpenseAccountCodeModel>? ExpenseDataSource;

    private bool CustomerPopupVisible { get; set; }
    private GridDevExtremeDataSource<CustomerModel>? CustomerDataSource;
    private bool ShowValidationMessages { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = await ApiClientFactory.CreateAsync(HttpClientFactory.CreateClient("ApiClient"));
            string baseUrl = "https://localhost:7071/api";


            await LoadBanksAsync();
            await LoadFirmsAsync();

            if (Id.HasValue && Id.Value > 0)
            {

                var httpClient = HttpClientFactory.CreateClient("ApiClient");
                var api_client = await ApiClientFactory.CreateAsync(httpClient);
                Model = await api_client.GetFromJsonAsync<GuaranteeModel>($"api/guarantees/{Id.Value}");
                if (Model == null)
                {
                    throw new Exception("Teminat bulunamadı");
                }

                if (!string.IsNullOrEmpty(Model.BankCode))
                {
                    await LoadBranchesAsync(Model.BankCode);
                }
            }
            else
            {
                Model = new GuaranteeModel { GuaranteeDate = DateTime.Now };
            }

            EditContext = new EditContext(Model);
            ExpenseDataSource = new GridDevExtremeDataSource<ExpenseAccountCodeModel>(client, NavigationManager.ToAbsoluteUri($"{baseUrl}/netsis/expense-account-codes/list"));
            CustomerDataSource = new GridDevExtremeDataSource<CustomerModel>(client, NavigationManager.ToAbsoluteUri($"{baseUrl}/netsis/customers/pagedList"));
        }
        catch (Exception ex)
        {
            ToastService.ShowToast(new ToastOptions()
            {
                ProviderName = "Overview",
                ThemeMode = ToastThemeMode.Light,
                RenderStyle = ToastRenderStyle.Warning,
                Title = "Veriler Yüklenirken bir hata oluştu",
                Text = $"{ex.Message}"
            }, RenderToastButton(true));
        }
    }

    private RenderFragment RenderToastButton(bool isError)
    {
        return @<div class="d-flex gap-2">
            <DxButton Click="@(isError? OnPopupError:OnPopupOk)" RenderStyle="@(isError? ButtonRenderStyle.Danger: ButtonRenderStyle.Success)">Kapat</DxButton>
        </div>;
    }

    private void OnExpenseSelected(object selectedItem)
    {
        if (selectedItem is ExpenseAccountCodeModel selectedAccount)
        {
            Model?.ExpenseAccountName = selectedAccount.Name;
            Model?.ExpenseAccountCode = selectedAccount.Code;
            ExpensePopupVisible = false;
            StateHasChanged();
        }
    }
    private void OnCustomerSelected(object selectedItem)
    {
        if (selectedItem is CustomerModel selectedCustomer)
        {
            Model?.PublicAuthorityCode = selectedCustomer.Code;
            Model?.PublicAuthorityName = selectedCustomer.Name;
            CustomerPopupVisible = false;
            StateHasChanged();
        }
    }
    private async Task LoadFirmsAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        Firms = await client.GetFromJsonAsync<List<FirmSelectModel>>("api/firms/list");
    }

    private async Task LoadBanksAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        Banks = await client.GetFromJsonAsync<List<BankModel>>("api/netsis/banks/list");
    }

    private async Task OnBankChanged(string bankCode)
    {
        if (string.IsNullOrWhiteSpace(bankCode)) return;
        if (Banks == null) return;

        Model?.BankCode = bankCode;
        Model?.BankName = Banks.Where(x => x.Code == bankCode).Select(m => m.Name).First();
        Model?.BankBranchCode = "";
        Model?.BankBranchName = "";

        await LoadBranchesAsync(bankCode);
    }

    private async Task LoadBranchesAsync(string bankCode)
    {
        if (string.IsNullOrEmpty(bankCode)) return;
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        BankBranches = await client.GetFromJsonAsync<List<BankBranchModel>>($"api/netsis/bankbranches/list?bankCode={bankCode}");

        if (BankBranches != null && BankBranches.Count() == 1)
        {
            var branch = BankBranches.First();
            Model?.BankBranchCode = branch.Code;
            Model?.BankBranchName = branch.Name;
            StateHasChanged();
        }
    }
    private void OnBranchChanged(string branchCode)
    {
        if (string.IsNullOrEmpty(branchCode) || BankBranches == null) return;

        var selectedBranch = BankBranches.FirstOrDefault(x => x.Code == branchCode);
        if (selectedBranch != null)
        {
            Model?.BankBranchCode = selectedBranch.Code;
            Model?.BankBranchName = selectedBranch.Name; 
        }
    }

    

    private async Task SaveFromOutside()
    {
        if (IsSaving || EditContext == null) return;

       
        ShowValidationMessages = true;
        var isDataAnnotationValid = EditContext.Validate();

      
        var isBusinessLogicValid = IsSaveButtonEnabledForValidation();

        if (isDataAnnotationValid && isBusinessLogicValid)
        {
            await HandleValidSubmit();
        }
        else
        {
            StateHasChanged();
        }
    }


    private bool IsSaveButtonEnabledForValidation()
    {
        
        bool isBaseValid = Model?.FirmId > 0 &&
                           !string.IsNullOrWhiteSpace(Model.GuaranteeType) &&
                           !string.IsNullOrWhiteSpace(Model.GuaranteeForm) &&
                           !string.IsNullOrWhiteSpace(Model.Subject) &&
                           !string.IsNullOrWhiteSpace(Model.BankCode) &&
                           !string.IsNullOrWhiteSpace(Model.Currency) &&
                           !string.IsNullOrWhiteSpace(Model.GuaranteeNumber);

        bool isConditionalValid = false;
        if (Model?.GuaranteeType == "Geçici")
        {
            isConditionalValid = !string.IsNullOrWhiteSpace(Model.ExpenseAccountName);
        }
        else if (Model?.GuaranteeType == "Kati")
        {
            isConditionalValid = !string.IsNullOrWhiteSpace(Model.PublicAuthorityName);
        }

        return isBaseValid && isConditionalValid;
    }
    private async Task HandleValidSubmit()
    {
        if (IsSaving) return;
        IsSaving = true;
        IsSuccess = false;

        try
        {
            var httpClient = HttpClientFactory.CreateClient("ApiClient");
            var client = await ApiClientFactory.CreateAsync(httpClient);
            HttpResponseMessage response;

            if (Model?.Id > 0)
            {
                response = await client.PutAsJsonAsync("api/guarantees", Model);
            }
            else
            {
                response = await client.PostAsJsonAsync("api/guarantees", Model);
            }

            if (response.IsSuccessStatusCode)
            {
                IsSuccess = true;
              

                ToastService.ShowToast(new ToastOptions()
                {
                    Id = "toast",
                    ProviderName = "Overview",
                    ThemeMode = ToastThemeMode.Light,
                    RenderStyle = ToastRenderStyle.Success,
                    Title = "Başarılı",
                    Text = "Teminat bilgileri başarılı bir şekilde kaydedildi."
                }, RenderToastButton(false));
            }
            else
            {
                var errorMsg = await response.Content.ReadAsStringAsync();

                ToastService.ShowToast(new ToastOptions()
                {
                    Id = "toast",
                    ProviderName = "Overview",
                    ThemeMode = ToastThemeMode.Light,
                    RenderStyle = ToastRenderStyle.Danger,
                    Title = "Hata",
                    Text = errorMsg
                }, RenderToastButton(true));
            }
        }
        catch (Exception)
        {

            IsSuccess = false;
        }
        finally
        {
       
            IsSaving = false;
        }
    }
    private void OnCalculateCommission()
    {
        Model?.CommissionAmount = Model.GuaranteeAmount * Model.CommissionRate;
        StateHasChanged();
    }
    private void OnPopupOk()
    {
        if (IsSuccess) NavigationManager.NavigateTo("/guarantee/list");
    }

    private void OnPopupError()
    {
    }
    private void OpenCustomerPopup()
    {
        CustomerPopupVisible = true;
    }

    private void OpenExpensePopup()
    {
        ExpensePopupVisible = true;
    }
   
    private void NavigateBack() => NavigationManager.NavigateTo("/guarantee/list");
}