@page "/guarantee/edit/{Id:int}"

@inject NavigationManager NavigationManager
@inject IApiClientFactory ApiClientFactory
@inject IHttpClientFactory HttpClientFactory
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using System.Net.Http.Json
@using DevExpress.Blazor

<div class="content-root">
    <div class="card toolbar">
        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <Items>
                <DxToolbarItem IconCssClass="back-icon icon medium-icon" Tooltip="Geri Dön" Click="@NavigateBack" />
                <DxToolbarItem>
                    <Template>
                        <div class="custom-item">
                            <div class="title">Teminat Düzenleme</div>
                        </div>
                    </Template>
                </DxToolbarItem>
                <DxToolbarItem Alignment="ToolbarItemAlignment.Right">
                    <Template>
                        <DxButton Text="Kaydet"
                                  Click="SaveFromOutside"
                                  Enabled="!IsSaving"
                                  RenderStyleMode="ButtonRenderStyleMode.Outline"
                                  RenderStyle="ButtonRenderStyle.Success" />
                    </Template>
                </DxToolbarItem>
            </Items>
        </DxToolbar>
    </div>

    <div class="guarantee-edit">
        @if (editContext != null)
        {
            <EditForm EditContext="@editContext" Context="formContext">
                <DataAnnotationsValidator />

                <DxFormLayout ColSpanMd="6">
                   
                    <DxFormLayoutItem Caption="Teminat Türü">
                        <DxComboBox Data="@(new List<string> { "Geçici", "Kati" })" @bind-Value="model.GuaranteeType" />
                    </DxFormLayoutItem>
                   
                    <DxFormLayoutItem Caption="Teminat Şekli">
                        <DxComboBox Data="@(new List<string> { "Banka Mektubu", "Nakit" })" @bind-Value="model.GuaranteeForm" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Firma">
                        <DxComboBox Data="@Firms"
                                    @bind-Value="model.FirmId"
                                    TextFieldName="FirmName"
                                    ValueFieldName="Id"
                                    FilteringMode="DataGridFilteringMode.Contains"
                                    SearchMode="ListSearchMode.AutoSearch" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Konu">
                        <DxTextBox @bind-Text="model.Subject" ValidationEnabled="true" ShowValidationIcon="true" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Düzenleyen Banka">
                        <DxComboBox Data="@Banks"
                                    TData="BankModel"
                                    TValue="string"
                                    TextFieldName="Name"
                                    ValueFieldName="Code"
                                    Value="@model.BankCode"
                                    ValueChanged="@(async (string code) => await OnBankChanged(code))"
                                    ValueExpression="@(() => model.BankCode)" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Düzenleyen Şube">
                        <DxComboBox Data="@BankBranches"
                                    TData="BankBranchModel"
                                    TValue="string"
                                    TextFieldName="Name"
                                    ValueFieldName="Name"
                                    @bind-Value="model.BankBranchName"
                                    Enabled="@(BankBranches != null && BankBranches.Any())" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Teminat Tutarı">
                        <DxSpinEdit @bind-Value="model.GuaranteeAmount" DisplayFormat="N2" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Döviz Tipi">
                        <DxComboBox Data="@(new List<string> { "TRY", "USD", "EUR" })"
                                    @bind-Value="model.Currency" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Komisyon Oranı">
                        <DxSpinEdit @bind-Value="model.CommissionRate" DisplayFormat="N4" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Kamu İdare Unvanı" ColSpanMd="6">
                        <DxTextBox @bind-Text="model.PublicAuthorityName">
                            <Buttons>
                                <DxEditorButton IconCssClass="search-icon icon"
                                                Tooltip="Hesap Kodu Seç"
                                                Click="@(() => CustomerPopupVisible = true)" />
                            </Buttons>
                        </DxTextBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Gider Hesap Kodu" ColSpanMd="6">
                        <DxTextBox @bind-Text="model.ExpenseAccountName">
                            <Buttons>
                                <DxEditorButton IconCssClass="search-icon icon"
                                                Tooltip="Hesap Kodu Seç"
                                                Click="@(() => ExpensePopupVisible = true)" />
                            </Buttons>
                        </DxTextBox>
                    </DxFormLayoutItem>

                   

                    <DxFormLayoutItem Caption="Komisyon Tutarı">
                        <DxSpinEdit @bind-Value="model.CommissionAmount" DisplayFormat="N2" ReadOnly="true" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Düzenlenme Tarihi">
                        <DxDateEdit @bind-Date="model.GuaranteeDate" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Geçerlilik Tarihi">
                        <DxDateEdit @bind-Date="model.ExpiryDate" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Belge Numarası">
                        <DxTextBox @bind-Text="model.GuaranteeNumber" ValidationEnabled="true" ShowValidationIcon="true" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Takasbank Ref No" ColSpanMd="12">
                        <DxTextBox @bind-Text="model.TakasbankReferenceNo" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="12">
                        <ValidationSummary />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
        }
        else
        {
            <div class="p-4 text-center">
                <DxWaitIndicator Visible="true" />
                <p>Veriler yükleniyor...</p>
            </div>
        }
    </div>
</div>


<DxPopup @bind-Visible="PopupVisible" Width="460px" ShowFooter="true" CloseOnOutsideClick="false">
    <HeaderTemplate>
        <div class="popup-adv-header @(IsSuccess ? "success" : "danger")">
            <div class="popup-adv-header-icon">@(IsSuccess ? "✓" : "!")</div>
            <div>
                <div class="popup-adv-header-title">@(IsSuccess ? "İşlem Başarılı" : "İşlem Hatası")</div>
                <div class="popup-adv-header-subtitle">@PopupTitle</div>
            </div>
        </div>
    </HeaderTemplate>
    <BodyTemplate>
        <div class="popup-adv-body">
            <div class="popup-adv-body-icon @(IsSuccess ? "success" : "danger")">@(IsSuccess ? "✓" : "!")</div>
            <div class="popup-adv-body-content">
                <h5 class="popup-adv-body-title">@(IsSuccess ? "Bilgiler Güncellendi" : "Hata Oluştu")</h5>
                <p class="popup-adv-body-message">@PopupMessage</p>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <div class="popup-adv-footer">
            <DxButton Text="Kapat" Width="130px" RenderStyle="@(IsSuccess? ButtonRenderStyle.Success: ButtonRenderStyle.Danger)" Click="OnPopupOk" />
        </div>
    </FooterTemplate>
</DxPopup>

<DxPopup @bind-Visible="ExpensePopupVisible"
         HeaderText="Gider Hesap Kodu Seçimi"
         Width="800px"
         Height="600px"
         Scrollable="true">
    <BodyTemplate>
        <DxGrid Data="@ExpenseDataSource"
                ShowFilterRow="true"
                PageSize="12"
                SelectionMode="GridSelectionMode.Single"
                SelectedDataItemChanged="@OnExpenseSelected"
                KeyFieldName="Code"
                FilteringMode="GridFilteringMode.FilterRow">
            <Columns>
                <DxGridSelectionColumn  Width="100px"/>
                <DxGridDataColumn FieldName="Code" Caption="Hesap Kodu" Width="150px" />
                <DxGridDataColumn FieldName="Name" Caption="Hesap Adı" />
            </Columns>
        </DxGrid>
    </BodyTemplate>
</DxPopup>
<DxPopup @bind-Visible="CustomerPopupVisible"
         HeaderText="Kamu İdare Unvanı Seçimi"
         Width="800px"
         Height="600px"
         Scrollable="true">
    <BodyTemplate>
        <DxGrid Data="@CustomerDataSource"
                ShowFilterRow="true"
                PageSize="12"
                SelectionMode="GridSelectionMode.Single"
                SelectedDataItemChanged="@OnCustomerSelected"
                VirtualScrollingEnabled="true"
                KeyFieldName="Code"
                FilteringMode="GridFilteringMode.FilterRow">
            <Columns>
                <DxGridSelectionColumn Width="100px" />
                <DxGridDataColumn FieldName="Code" Caption="Hesap Kodu" Width="150px" />
                <DxGridDataColumn FieldName="Name" Caption="Hesap Adı" />
            </Columns>
        </DxGrid>
    </BodyTemplate>
</DxPopup>
@code {
    [Parameter] public int Id { get; set; }

    private GuaranteeModel model = new();
    private EditContext? editContext;
    private bool IsSaving, PopupVisible, IsSuccess;
    private string PopupTitle = "", PopupMessage = "";
    private IEnumerable<FirmSelectModel>? Firms { get; set; }
    private IEnumerable<BankModel>? Banks { get; set; }
    private IEnumerable<BankBranchModel>? BankBranches { get; set; }
    private bool ExpensePopupVisible { get; set; }
    private bool CustomerPopupVisible { get; set; }
    private GridDevExtremeDataSource<ExpenseAccountCodeModel>? ExpenseDataSource;
    private GridDevExtremeDataSource<CustomerModel>? CustomerDataSource;

    protected override async Task OnInitializedAsync()
    {
        var client = await ApiClientFactory.CreateAsync(HttpClientFactory.CreateClient("ApiClient"));
        string baseUrl = "https://localhost:7071/api";
        ExpenseDataSource = new GridDevExtremeDataSource<ExpenseAccountCodeModel>(client, NavigationManager.ToAbsoluteUri($"{baseUrl}/netsis/expense-account-codes/list"));
        CustomerDataSource = new GridDevExtremeDataSource<CustomerModel>(client, NavigationManager.ToAbsoluteUri($"{baseUrl}/netsis/customers/pagedList"));
        if (Id > 0)
        {
            try
            {
                editContext = new EditContext(model);

                await LoadBanksAsync();
                await LoadFirmsAsync();

                var httpClient = HttpClientFactory.CreateClient("ApiClient");
                var api_client = await ApiClientFactory.CreateAsync(httpClient);
                var result = await api_client.GetFromJsonAsync<GuaranteeModel>($"api/guarantees/{Id}");


                if (result != null)
                {
                    model = result;

                   
                }
            }
            catch (Exception ex)
            {
                PopupTitle = "Yükleme Hatası";
                PopupMessage = "Veriler getirilirken bir hata oluştu: " + ex.Message;
                IsSuccess = false;
                PopupVisible = true;
            }
        }
    }

    private void OnExpenseSelected(object selectedItem)
    {
        if (selectedItem is ExpenseAccountCodeModel selectedAccount)
        {
            model.ExpenseAccountName = selectedAccount.Name;
            model.ExpenseAccountCode = selectedAccount.Code;
            ExpensePopupVisible = false;
            StateHasChanged();
        }
    }
    private void OnCustomerSelected(object selectedItem)
    {
        if (selectedItem is CustomerModel selectedCustomer)
        {
            model.PublicAuthorityCode = selectedCustomer.Code;
            model.PublicAuthorityName = selectedCustomer.Name;
            CustomerPopupVisible = false;
            StateHasChanged();
        }
    }
    private async Task LoadFirmsAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        Firms = await client.GetFromJsonAsync<List<FirmSelectModel>>("api/firms/list");
    }

    private async Task LoadBanksAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        Banks = await client.GetFromJsonAsync<List<BankModel>>("api/netsis/banks/list");
    }

    private async Task OnBankChanged(string newBankCode)
    {
        model.BankCode = newBankCode;
        model.BankName = Banks?.FirstOrDefault(x => x.Code == newBankCode)?.Name;
        model.BankBranchName = null;

        if (!string.IsNullOrEmpty(newBankCode))
        {
            await LoadBranchesAsync(newBankCode);
        }
        else
        {
            BankBranches = null;
        }
    }

    private async Task LoadBranchesAsync(string bankCode)
    {
        if (string.IsNullOrEmpty(bankCode)) return;

        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        BankBranches = await client.GetFromJsonAsync<List<BankBranchModel>>($"api/netsis/bankbranches/list?bankCode={bankCode}");

        if (BankBranches != null && BankBranches.Count() == 1)
        {
            model.BankBranchName = BankBranches.First().Name;
        }
    }

    private async Task SaveFromOutside()
    {
        if (IsSaving || editContext == null) return;
        if (!editContext.Validate()) return;
        await HandleValidSubmit();
    }

    private async Task HandleValidSubmit()
    {
        if (IsSaving) return;
        IsSaving = true;

        try
        {
            var httpClient = HttpClientFactory.CreateClient("ApiClient");
            var client = await ApiClientFactory.CreateAsync(httpClient);
            var response = await client.PutAsJsonAsync("api/guarantees", model);

            if (response.IsSuccessStatusCode)
            {
                IsSuccess = true;
                PopupTitle = "Başarılı";
                PopupMessage = "Teminat bilgileri başarıyla güncellendi.";
            }
            else
            {
                var errorMsg = await response.Content.ReadAsStringAsync();
                IsSuccess = false;
                PopupTitle = "Sunucu Hatası";
                PopupMessage = string.IsNullOrEmpty(errorMsg) ? "Güncelleme sırasında bir hata oluştu." : errorMsg;
            }
        }
        catch (Exception ex)
        {
            IsSuccess = false;
            PopupTitle = "Bağlantı Hatası";
            PopupMessage = "Sunucuyla iletişim kurulamadı: " + ex.Message;
        }
        finally
        {
            PopupVisible = true;
            IsSaving = false;
        }
    }

    private void OnPopupOk()
    {
        PopupVisible = false;
        if (IsSuccess) NavigationManager.NavigateTo("/guarantee/list");
    }

    private void NavigateBack() => NavigationManager.NavigateTo("/guarantee/list");

}