@implements IDisposable
@inject NavigationManager NavigationManager
@inject IApiClientFactory ApiClientFactory
@inject IHttpClientFactory HttpClientFactory
@inject IToastNotificationService ToastService

<div class="content-root">
    <div class="card toolbar">
        <DxToolbar Title="@Title" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <DxToolbarItem Text="@GuaranteeTypeFilterValue" RenderStyleMode="ToolbarItemRenderStyleMode.Plain">
                <Items>
                    <DxToolbarItem Text="Tümü" Click="FilterByGuaranteeType" />
                    @foreach (var status in GuaranteeTypes)
                    {
                        <DxToolbarItem Text="@status" Click="FilterByGuaranteeType" />
                    }
                </Items>
            </DxToolbarItem>

            <DxToolbarItem Text="Teminat Oluþtur"
                           Tooltip="Yeni Teminat Ekle"
                           Alignment="ToolbarItemAlignment.Right"
                           Click="OnAddClick"
                           IconCssClass="add-icon icon medium-icon"
                           RenderStyleMode="ToolbarItemRenderStyleMode.Plain" />

            <DxToolbarItem Tooltip="Column Chooser" Alignment="ToolbarItemAlignment.Right" Click="OnColumnChooserItemClick" IconCssClass="column-chooser-icon icon medium-icon" />

            <DxToolbarItem Text="Dýþarý Aktar" Alignment="ToolbarItemAlignment.Right" IconCssClass="export-icon icon medium-icon">
                <Items>
                    <DxToolbarItem Text="Tüm verileri Excel'e aktar" Click="ExportAllDataToExcel" />
                    <DxToolbarItem Text="Seçili satýrlarý Excel'e aktar" Click="ExportSelectedRowsToExcel" />
                    <DxToolbarItem Text="Tüm verileri CSV'ye aktar" Click="ExportAllDataToCsv" />
                    <DxToolbarItem Text="Seçili satýrlarý CSV'ye aktar" Click="ExportSelectedRowsDataToCsv" />
                    <DxToolbarItem Text="Tüm verileri PDF'e aktar" Click="ExportAllDataToPdf" />
                    <DxToolbarItem Text="Seçili satýrlarý PDF'e aktar" Click="ExportSelectedRowsDataToPdf" />
                </Items>
            </DxToolbarItem>

            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" CssClass="search-textbox-item" Tooltip="Search">
                <Template Context="SearchContext">
                    <div class="custom-item">
                        <DxSearchBox CssClass="search-textbox"
                                     NullText="Ara"
                                     BindValueMode="BindValueMode.OnInput"
                                     ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                     @bind-Text=SearchText />
                    </div>
                </Template>
            </DxToolbarItem>

            <DxToolbarItem Tooltip="Refresh" Click="LoadGridDataAsync" BeginGroup="true" Alignment="ToolbarItemAlignment.Right" IconCssClass="refresh-icon icon medium-icon" />
        </DxToolbar>
    </div>

    <div class="Guarantee-list-root h-100">
        <div class="h-100">
            <DxGrid @ref="Grid"
                    Data="Data"
                    KeyFieldName="Id"
                    CssClass="Guarantee-list"
                    style="height:100%;"
                    SearchText="@SearchText"
                    SkeletonRowsEnabled="true"
                    ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                    TextWrapEnabled="false"
                    FocusedRowEnabled="false"
                    ShowAllRows="true"
                    VirtualScrollingEnabled="true"
                    RowClick="@OnRowClick"
                    HighlightRowOnHover="true">
                <Columns>
                    <DxGridSelectionColumn Width="75px" />
                    <DxGridDataColumn Caption="Id" FieldName="Id" Visible="false" />
                    <DxGridDataColumn Caption="Firma" FieldName="FirmName" Visible="false" />
                    <DxGridDataColumn Caption="Konu" FieldName="Subject" />
                    <DxGridDataColumn Caption="Teminat Belge No" FieldName="GuaranteeNumber">
                        <CellDisplayTemplate>
                            <a href="javascript:void(0);"
                               style="text-decoration:none; font-weight:bold; color: #0056b3;"
                               @onclick="() => OnGuaranteeDetailsClick((GuaranteeModel)context.DataItem)"
                               @onclick:stopPropagation>
                                @context.Value
                            </a>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn Caption="Teminat Türü" FieldName="GuaranteeType" />
                    <DxGridDataColumn Caption="Teminat Þekli" FieldName="GuaranteeForm" />
                    <DxGridDataColumn Caption="Teminat Tutarý" FieldName="GuaranteeAmount" DisplayFormat="N2" />
                    <DxGridDataColumn Caption="Teminat Kominsyon Oraný" FieldName="CommissionRate" DisplayFormat="N4" Visible="false" />
                    <DxGridDataColumn Caption="Toplam Komisyon Tutarý" FieldName="CommissionAmount" DisplayFormat="N4" />
                    <DxGridDataColumn Caption="Teminat Komisyon Dönemi" FieldName="GuaranteeCommissionPeriodName" Visible="false" />
                    <DxGridDataColumn Caption="Banka" FieldName="BankName" />
                    <DxGridDataColumn Caption="Banka Þubesi" FieldName="BankBranchName" Visible="false" />
                    <DxGridDataColumn Caption="Ünvaný" FieldName="PublicAuthorityName" />
                    <DxGridDataColumn Caption="Düzenlenme Tarihi" FieldName="GuaranteeDate" />
                    <DxGridDataColumn Caption="Cari" FieldName="PublicAuthorityCode" />
                    <DxGridDataColumn Caption="Gider Hesap Kodu" FieldName="ExpenseAccountCode" />

                    <DxGridDataColumn Caption="Ýþlemler" Width="100px" MinWidth="100" Visible="@ShowExtensionButton">
                        <CellDisplayTemplate>
                            <div @onclick:stopPropagation="true">
                                <DxButton Text="Uzat"
                                          RenderStyle="ButtonRenderStyle.Info"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline"
                                          Size="SizeMode.Small"
                                          Click="() => OpenExtensionPopup((GuaranteeModel)context.DataItem)" />
                            </div>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                </Columns>
                <GroupSummary>
                    <DxGridSummaryItem DisplayText="Kayýt Sayýsý:{0}" FieldName="Id" SummaryType="GridSummaryItemType.Count" />
                    <DxGridSummaryItem DisplayText="Toplam:{0}" FieldName="GuaranteeAmount" SummaryType="GridSummaryItemType.Sum" FooterColumnName="GuaranteeAmount" />
                    <DxGridSummaryItem DisplayText="Toplam:{0}" FieldName="CommissionAmount" SummaryType="GridSummaryItemType.Sum" FooterColumnName="CommissionAmount" />
                </GroupSummary>
                <TotalSummary>
                    <DxGridSummaryItem DisplayText="Kayýt Sayýsý:{0}" FieldName="Id" SummaryType="GridSummaryItemType.Count" />
                    <DxGridSummaryItem DisplayText="Toplam:{0}" FieldName="GuaranteeAmount" SummaryType="GridSummaryItemType.Sum" FooterColumnName="GuaranteeAmount" />
                    <DxGridSummaryItem DisplayText="Toplam:{0}" FieldName="CommissionAmount" SummaryType="GridSummaryItemType.Sum" FooterColumnName="CommissionAmount" />
                </TotalSummary>
            </DxGrid>
        </div>
    </div>
</div>

@if (ExtensionPopupVisible && SelectedGuarantee != null)
{
    <GuaranteeExtensionComponent Guarantee="SelectedGuarantee" IsExtensionPopupVisible="true" OnCanceled="GuaranteeExtensionOnCanceled" OnSaved="GuaranteeExtensionOnSaved" />
}

@code {

    [Parameter] public required string Title { get; set; } = "Teminat Havuzu";
    [Parameter] public required string Page { get; set; }
    [Parameter] public bool ShowExtensionButton { get; set; } = false;

    [CascadingParameter(Name = "ParentSizeMode")]
    public SizeMode SizeMode { get; set; }

    private GridDevExtremeDataSource<GuaranteeModel> Data { get; set; } = null!;
    private IGrid? Grid { get; set; }
    private string? SearchText { get; set; }
    private string GuaranteeTypeFilterValue { get; set; } = "Tümü";
    private string[] GuaranteeTypes { get; } = new[] { "Geçici", "Kati" };

    private bool ExtensionPopupVisible = false;
    private GuaranteeModel? SelectedGuarantee;

    private CancellationTokenSource disposalTokenSource = new CancellationTokenSource();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await LoadGridDataAsync();
    }

    async Task LoadGridDataAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        Data = new GridDevExtremeDataSource<GuaranteeModel>(client, NavigationManager.ToAbsoluteUri($"https://localhost:7071/api/guarantees/{Page}"));

        if (Grid != null)
            Grid.Reload();

        await InvokeAsync(StateHasChanged);
    }


    void OpenExtensionPopup(GuaranteeModel item)
    {
        SelectedGuarantee = item;
        ExtensionPopupVisible = true;
    }


    void OnColumnChooserItemClick(ToolbarItemClickEventArgs e) => Grid!.ShowColumnChooser();

    void FilterByGuaranteeType(ToolbarItemClickEventArgs item)
    {
        GuaranteeTypeFilterValue = item.Info.Text;
        Grid!.FilterBy("GuaranteeType", GridFilterRowOperatorType.Equal, GuaranteeTypeFilterValue != "Tümü" ? GuaranteeTypeFilterValue : null);
    }

    async Task OnRowClick(GridRowClickEventArgs args)
    {
        var guarantee = (GuaranteeModel)Grid!.GetDataItem(args.VisibleIndex);
        if (guarantee != null) NavigationManager.NavigateTo($"/guarantee/details/{guarantee.Id}");
    }

    void OnGuaranteeDetailsClick(GuaranteeModel guarantee)
    {
        if (guarantee != null) NavigationManager.NavigateTo($"/guarantee/details/{guarantee.Id}");
    }

    void OnAddClick(ToolbarItemClickEventArgs e) => NavigationManager.NavigateTo("/guarantee/createorupdate/");


    Task ExportAllDataToExcel() => Grid!.ExportToXlsxAsync("Teminatlar");
    Task ExportSelectedRowsToExcel() => Grid!.ExportToXlsxAsync("Seçili Teminatlar", new GridXlExportOptions { ExportSelectedRowsOnly = true });
    Task ExportAllDataToCsv() => Grid!.ExportToCsvAsync("Teminatlar");
    Task ExportSelectedRowsDataToCsv() => Grid!.ExportToCsvAsync("Seçili Teminatlar", new GridCsvExportOptions { ExportSelectedRowsOnly = true });
    Task ExportAllDataToPdf() => Grid!.ExportToPdfAsync("Teminatlar");
    Task ExportSelectedRowsDataToPdf() => Grid!.ExportToPdfAsync("Seçili Teminatlar", new GridPdfExportOptions { ExportSelectedRowsOnly = true });


    public void Dispose()
    {
        disposalTokenSource.Cancel();
        disposalTokenSource.Dispose();
    }


    private async Task GuaranteeExtensionOnSaved()
    {
        ExtensionPopupVisible = false;
        await LoadGridDataAsync();
    }

    private void GuaranteeExtensionOnCanceled()
    {
        ExtensionPopupVisible = false;
    }
}