@implements IDisposable
@inject NavigationManager NavigationManager
@inject IApiClientFactory ApiClientFactory
@inject IHttpClientFactory HttpClientFactory
@inject IToastNotificationService ToastService

<DxPopup @bind-Visible="@IsExtensionPopupVisible"
         ShowFooter="true"
         HeaderText="Teminat Süresini Uzat"
         Width="600px"
         MaxWidth="95vw">
    <BodyContentTemplate Context="popupContext">
        @if (IsExtensionPopupVisible)
        {
            <div class="extension-popup-container">
                <DxFormLayout CaptionPosition="CaptionPosition.Horizontal">
                    <DxFormLayoutItem Caption="Teminat No" ColSpanMd="12">
                        <DxTextBox Text="@SelectedGuaranteeNumber" ReadOnly="true" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Konu" ColSpanMd="12">
                        <DxTextBox Text="@SelectedSubject" ReadOnly="true" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="12">
                        <Template Context="sepContext">
                            <div class="form-separator"></div>
                        </Template>
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Baþlangýç Tarihi" ColSpanMd="12">
                        <DxDateEdit Date="@SelectedGuaranteeDate" ReadOnly="true" Mask="@DateTimeMask.ShortDate" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Mevcut Vade" ColSpanMd="12">
                        <DxDateEdit Date="@CurrentExpiryDate" ReadOnly="true" Mask="@DateTimeMask.ShortDate" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Yeni Vade Tarihi" ColSpanMd="12" CssClass="highlight-item">
                        <ChildContent Context="itemContext">
                            <DxDateEdit @bind-Date="@NewExpiryDate"
                                        PickerDisplayMode="DatePickerDisplayMode.Calendar"
                                        Mask="@DateTimeMask.ShortDate" />
                        </ChildContent>
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="12">
                        <Template Context="infoContext">
                            <div class="extension-info-alert">
                                <span class="dx-icon-info"></span>
                                Lütfen teminatýn uzatýlacaðý yeni tarihi seçiniz.
                            </div>
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </div>
        }
    </BodyContentTemplate>

    <FooterContentTemplate Context="footerContext">
        <DxButton RenderStyle="ButtonRenderStyle.Primary"
                  Text="Güncelle ve Onayla"
                  IconCssClass="dx-icon-save"
                  Click="OnConfirmExtension" />

        <DxButton RenderStyle="ButtonRenderStyle.Secondary"
                  Text="Vazgeç"
                  IconCssClass="dx-icon-close"
                  Click="OnCancelExtension" />
    </FooterContentTemplate>
</DxPopup>

<div class="content-root">
    <div class="card toolbar">
        <DxToolbar Title="@Title" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <DxToolbarItem Text="@GuaranteeTypeFilterValue" RenderStyleMode="ToolbarItemRenderStyleMode.Plain">
                <Items>
                    <DxToolbarItem Text="Tümü" Click="FilterByGuaranteeType" />
                    @foreach (var status in GuaranteeTypes)
                    {
                        <DxToolbarItem Text="@status" Click="FilterByGuaranteeType" />
                    }
                </Items>
            </DxToolbarItem>

            <DxToolbarItem Text="Teminat Oluþtur"
                           Tooltip="Yeni Teminat Ekle"
                           Alignment="ToolbarItemAlignment.Right"
                           Click="OnAddClick"
                           IconCssClass="add-icon icon medium-icon"
                           RenderStyleMode="ToolbarItemRenderStyleMode.Plain" />

            <DxToolbarItem Tooltip="Column Chooser" Alignment="ToolbarItemAlignment.Right" Click="OnColumnChooserItemClick" IconCssClass="column-chooser-icon icon medium-icon" />

            <DxToolbarItem Text="Dýþarý Aktar" Alignment="ToolbarItemAlignment.Right" IconCssClass="export-icon icon medium-icon">
                <Items>
                    <DxToolbarItem Text="Export all data to Excel" Click="ExportAllDataToExcel" />
                    <DxToolbarItem Text="Export selected rows to Excel" Click="ExportSelectedRowsToExcel" />
                    <DxToolbarItem Text="Export all data to CSV" Click="ExportAllDataToCsv" />
                    <DxToolbarItem Text="Export selected rows to CSV" Click="ExportSelectedRowsDataToCsv" />
                    <DxToolbarItem Text="Export all data to PDF" Click="ExportAllDataToPdf" />
                    <DxToolbarItem Text="Export selected rows to PDF" Click="ExportSelectedRowsDataToPdf" />
                </Items>
            </DxToolbarItem>

            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" CssClass="search-textbox-item" Tooltip="Search">
                <Template Context="SearchContext">
                    <div class="custom-item">
                        <DxSearchBox CssClass="search-textbox"
                                     NullText="Ara"
                                     BindValueMode="BindValueMode.OnInput"
                                     ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                     @bind-Text=SearchText />
                    </div>
                </Template>
            </DxToolbarItem>

            <DxToolbarItem Tooltip="Refresh" Click="LoadGridDataAsync" BeginGroup="true" Alignment="ToolbarItemAlignment.Right" IconCssClass="refresh-icon icon medium-icon" />
        </DxToolbar>
    </div>

    <div class="Guarantee-list-root h-100">
        <div class="h-100">
            <DxGrid @ref="Grid"
                    Data="Data"
                    KeyFieldName="Id"
                    CssClass="Guarantee-list"
                    style="height:100%;"
                    SearchText="@SearchText"
                    SkeletonRowsEnabled="true"
                    ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                    TextWrapEnabled="false"
                    FocusedRowEnabled="false"
                    ShowAllRows="true"
                    VirtualScrollingEnabled="true"
                    RowClick="@OnRowClick"
                    HighlightRowOnHover="true">
                <Columns>
                    <DxGridSelectionColumn Width="75px" />
                    <DxGridDataColumn Caption="Id" FieldName="Id" Visible="false" />
                    <DxGridDataColumn Caption="Firma" FieldName="FirmName" Visible="false" />
                    <DxGridDataColumn Caption="Konu" FieldName="Subject" />
                    <DxGridDataColumn Caption="Teminat Belge No" FieldName="GuaranteeNumber">
                        <CellDisplayTemplate>
                            <a href="javascript:void(0);"
                               style="text-decoration:none; font-weight:bold; color: #0056b3;"
                               @onclick="() => OnGuaranteeDetailsClick((GuaranteeModel)context.DataItem)"
                               @onclick:stopPropagation>
                                @context.Value
                            </a>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn Caption="Teminat Türü" FieldName="GuaranteeType" />
                    <DxGridDataColumn Caption="Teminat Þekli" FieldName="GuaranteeForm" />
                    <DxGridDataColumn Caption="Teminat Tutarý" FieldName="GuaranteeAmount" DisplayFormat="N2" />
                    <DxGridDataColumn Caption="Teminat Kominsyon Oraný" FieldName="CommissionRate" DisplayFormat="N4" Visible="false" />
                    <DxGridDataColumn Caption="Toplam Komisyon Tutarý" FieldName="CommissionAmount" DisplayFormat="N4" />
                    <DxGridDataColumn Caption="Teminat Komisyon Dönemi" FieldName="GuaranteeCommissionPeriodName" Visible="false" />
                    <DxGridDataColumn Caption="Banka" FieldName="BankName" />
                    <DxGridDataColumn Caption="Banka Þubesi" FieldName="BankBranchName" Visible="false" />
                    <DxGridDataColumn Caption="Ünvaný" FieldName="PublicAuthorityName" />
                    <DxGridDataColumn Caption="Düzenlenme Tarihi" FieldName="GuaranteeDate" />
                    <DxGridDataColumn Caption="Cari" FieldName="PublicAuthorityCode" />
                    <DxGridDataColumn Caption="Gider Hesap Kodu" FieldName="ExpenseAccountCode" />

                    <DxGridDataColumn Caption="Ýþlemler" Width="100px" MinWidth="100" Visible="@ShowExtensionButton">
                        <CellDisplayTemplate>
                            <div @onclick:stopPropagation="true">
                                <DxButton Text="Uzat"
                                          RenderStyle="ButtonRenderStyle.Info"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline"
                                          Size="SizeMode.Small"
                                          Click="() => OpenExtensionPopup((GuaranteeModel)context.DataItem)" />
                            </div>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                </Columns>
                <GroupSummary>
                    <DxGridSummaryItem DisplayText="Kayýt Sayýsý:{0}" FieldName="Id" SummaryType="GridSummaryItemType.Count" />
                    <DxGridSummaryItem DisplayText="Toplam:{0}" FieldName="GuaranteeAmount" SummaryType="GridSummaryItemType.Sum" FooterColumnName="GuaranteeAmount" />
                    <DxGridSummaryItem DisplayText="Toplam:{0}" FieldName="CommissionAmount" SummaryType="GridSummaryItemType.Sum" FooterColumnName="CommissionAmount" />
                </GroupSummary>
                <TotalSummary>
                    <DxGridSummaryItem DisplayText="Kayýt Sayýsý:{0}" FieldName="Id" SummaryType="GridSummaryItemType.Count" />
                    <DxGridSummaryItem DisplayText="Toplam:{0}" FieldName="GuaranteeAmount" SummaryType="GridSummaryItemType.Sum" FooterColumnName="GuaranteeAmount" />
                    <DxGridSummaryItem DisplayText="Toplam:{0}" FieldName="CommissionAmount" SummaryType="GridSummaryItemType.Sum" FooterColumnName="CommissionAmount" />
                </TotalSummary>
            </DxGrid>
        </div>
    </div>
</div>

@code {
  
    [Parameter] public string Title { get; set; } = "Teminat Havuzu";
    [Parameter] public string ApiEndpoint { get; set; } = "https://localhost:7071/api/guarantees";
    [Parameter] public bool ShowExtensionButton { get; set; } = false;
    [Parameter] public string ReturnUrl { get; set; } = "/guarantee/list";

    [CascadingParameter(Name = "ParentSizeMode")]
    SizeMode SizeMode { get; set; }


    bool IsExtensionPopupVisible { get; set; } = false;
    int SelectedGuaranteeId { get; set; }
    string? SelectedGuaranteeNumber { get; set; }
    string? SelectedSubject { get; set; }
    DateTime SelectedGuaranteeDate { get; set; }
    DateTime CurrentExpiryDate { get; set; }
    DateTime NewExpiryDate { get; set; }

    private GridDevExtremeDataSource<GuaranteeModel> Data { get; set; } = null!;
    private IGrid? Grid { get; set; }
    private string? SearchText { get; set; }
    string GuaranteeTypeFilterValue { get; set; } = "Tümü";
    string[] GuaranteeTypes { get; } = new[] { "Geçici", "Kati" };
    private bool IsSaving, IsSuccess;

    private CancellationTokenSource disposalTokenSource = new CancellationTokenSource();

  
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await LoadGridDataAsync();
    }

    async Task LoadGridDataAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        Data = new GridDevExtremeDataSource<GuaranteeModel>(client, NavigationManager.ToAbsoluteUri(ApiEndpoint));

        if (Grid != null)
            Grid.Reload();

        await InvokeAsync(StateHasChanged);
    }

  
    void OpenExtensionPopup(GuaranteeModel item)
    {
        SelectedGuaranteeId = item.Id;
        SelectedGuaranteeNumber = item.GuaranteeNumber;
        SelectedSubject = item.Subject;
        SelectedGuaranteeDate = item.GuaranteeDate;
        CurrentExpiryDate = item.ExpiryDate;
        NewExpiryDate = item.ExpiryDate;
        IsExtensionPopupVisible = true;
    }

    void OnCancelExtension() => IsExtensionPopupVisible = false;

    async Task OnConfirmExtension()
    {
        try
        {
            var httpClient = HttpClientFactory.CreateClient("ApiClient");
            var client = await ApiClientFactory.CreateAsync(httpClient);

            var model = new { Id = SelectedGuaranteeId, ExpiryDate = NewExpiryDate };
            var response = await client.PutAsJsonAsync($"{ApiEndpoint}/extension", model);

            if (response.IsSuccessStatusCode)
            {
                IsExtensionPopupVisible = false;
                IsSuccess = true;
                ToastService.ShowToast(new ToastOptions()
                {
                    Id = "toast",
                    ProviderName = "Overview",
                    ThemeMode = ToastThemeMode.Light,
                    RenderStyle = ToastRenderStyle.Success,
                    Title = "Baþarýlý",
                    Text = "Teminat süresi baþarýlý bir þekilde uzatýldý."
                }, RenderToastButton(false));

                await LoadGridDataAsync();
            }
            else
            {
                var errorMsg = await response.Content.ReadAsStringAsync();
                ToastService.ShowToast(new ToastOptions()
                {
                    Id = "toast",
                    ProviderName = "Overview",
                    ThemeMode = ToastThemeMode.Light,
                    RenderStyle = ToastRenderStyle.Warning,
                    Title = "Uzatýlma Engellendi",
                    Text = string.IsNullOrWhiteSpace(errorMsg) ? "Teminat süresi uzatýlýrken hata." : errorMsg
                }, RenderToastButton(true));
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowToast(new ToastOptions()
            {
                Id = "toast",
                ProviderName = "Overview",
                ThemeMode = ToastThemeMode.Light,
                RenderStyle = ToastRenderStyle.Warning,
                Title = "Hata",
                Text = string.IsNullOrWhiteSpace(ex.Message) ? "Beklenmedik bir hata oluþtu." : ex.Message
            }, RenderToastButton(true));
            Console.WriteLine(ex.Message);
        }
    }

    
    void OnColumnChooserItemClick(ToolbarItemClickEventArgs e) => Grid!.ShowColumnChooser();

    void FilterByGuaranteeType(ToolbarItemClickEventArgs item)
    {
        GuaranteeTypeFilterValue = item.Info.Text;
        Grid!.FilterBy("GuaranteeType", GridFilterRowOperatorType.Equal, GuaranteeTypeFilterValue != "Tümü" ? GuaranteeTypeFilterValue : null);
    }

    async Task OnRowClick(GridRowClickEventArgs args)
    {
        var guarantee = (GuaranteeModel)Grid!.GetDataItem(args.VisibleIndex);
        if (guarantee != null) NavigationManager.NavigateTo($"/guarantee/details/{guarantee.Id}");
    }

    void OnGuaranteeDetailsClick(GuaranteeModel guarantee)
    {
        if (guarantee != null) NavigationManager.NavigateTo($"/guarantee/details/{guarantee.Id}");
    }

    void OnAddClick(ToolbarItemClickEventArgs e) => NavigationManager.NavigateTo("/guarantee/createorupdate/");

    
    Task ExportAllDataToExcel() => Grid!.ExportToXlsxAsync("Teminatlar");
    Task ExportSelectedRowsToExcel() => Grid!.ExportToXlsxAsync("Seçili Teminatlar", new GridXlExportOptions { ExportSelectedRowsOnly = true });
    Task ExportAllDataToCsv() => Grid!.ExportToCsvAsync("Teminatlar");
    Task ExportSelectedRowsDataToCsv() => Grid!.ExportToCsvAsync("Seçili Teminatlar", new GridCsvExportOptions { ExportSelectedRowsOnly = true });
    Task ExportAllDataToPdf() => Grid!.ExportToPdfAsync("Teminatlar");
    Task ExportSelectedRowsDataToPdf() => Grid!.ExportToPdfAsync("Seçili Teminatlar", new GridPdfExportOptions { ExportSelectedRowsOnly = true });

  
    private RenderFragment RenderToastButton(bool isError) =>
        @<div class="d-flex gap-2">
        <DxButton Click="@(isError? OnPopupError : OnPopupOk)"
                  RenderStyle="@(isError ? ButtonRenderStyle.Danger : ButtonRenderStyle.Success)">Kapat</DxButton>
    </div>;

    private void OnPopupOk()
    {
        if (IsSuccess) NavigationManager.NavigateTo(ReturnUrl);
    }

    private void OnPopupError() { }


    public void Dispose()
    {
        disposalTokenSource.Cancel();
        disposalTokenSource.Dispose();
    }
}