@page "/guarantee/list"
@implements IDisposable
@inject NavigationManager NavigationManager
@inject IApiClientFactory ApiClientFactory
@inject IHttpClientFactory HttpClientFactory

<div class="content-root">
    <div class="card toolbar">
        <DxToolbar Title="Teminat Havuzu" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <DxToolbarItem Text="@GuaranteeTypeFilterValue" RenderStyleMode="ToolbarItemRenderStyleMode.Plain">
                <Items>
                    <DxToolbarItem Text="Tümü" Click="FilterByGuaranteeType" />
                    @foreach (var status in GuaranteeTypes)
                    {
                        <DxToolbarItem Text="@status" Click="FilterByGuaranteeType" />
                    }
                </Items>
            </DxToolbarItem>
            <DxToolbarItem Tooltip="Column Chooser" Alignment="ToolbarItemAlignment.Right" Click="OnColumnChooserItemClick" IconCssClass="column-chooser-icon icon medium-icon" />
            <DxToolbarItem Text="Dışarı Aktar" Alignment="ToolbarItemAlignment.Right" IconCssClass="export-icon icon medium-icon">
                <Items>
                    <DxToolbarItem Text="Export all data to Excel" Click="ExportAllDataToExcel" />
                    <DxToolbarItem Text="Export selected rows to Excel" Click="ExportSelectedRowsToExcel" />
                    <DxToolbarItem Text="Export all data to CSV" Click="ExportAllDataToCsv" />
                    <DxToolbarItem Text="Export selected rows to CSV" Click="ExportSelectedRowsDataToCsv" />
                    <DxToolbarItem Text="Export all data to PDF" Click="ExportAllDataToPdf" />
                    <DxToolbarItem Text="Export selected rows to PDF" Click="ExportSelectedRowsDataToPdf" />
                </Items>
            </DxToolbarItem>
            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" CssClass="search-textbox-item" Tooltip="Search">
                <Template Context="SearchContext">
                    <div class="custom-item">
                        <DxSearchBox CssClass="search-textbox"
                                     NullText="Ara"
                                     BindValueMode="BindValueMode.OnInput"
                                     ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                     @bind-Text=SearchText />
                    </div>
                </Template>
            </DxToolbarItem>
            <DxToolbarItem Tooltip="Refresh" Click="LoadGridDataAsync" BeginGroup="true" Alignment="ToolbarItemAlignment.Right" IconCssClass="refresh-icon icon medium-icon" />
        </DxToolbar>
    </div>
    <div class="Guarantee-list-root">
        <div class="h-100">
            <DxGrid @ref="Grid"
                    Data="Data"
                    KeyFieldName="Id"
                    CssClass="Guarantee-list"
                    SearchText="@SearchText"
                    EditMode="GridEditMode.PopupEditForm"
                    PopupEditFormCssClass="pw-800"
                    SkeletonRowsEnabled="true"
                    ColumnResizeMode="GridColumnResizeMode.NextColumn"
                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                    TextWrapEnabled="false"
                    FocusedRowEnabled="true"
                    ShowAllRows="true"
                    VirtualScrollingEnabled="true"
                    RowClick="@OnRowClick"
                    HighlightRowOnHover="true"
                    CustomizeEditModel="Grid_CustomizeEditModel">
                <Columns>
                    <DxGridSelectionColumn Width="75px" />
                    <DxGridDataColumn Caption="Id" FieldName="Id" Visible="false" />
                    <DxGridDataColumn Caption="Firma" FieldName="FirmName" Visible="false" />
                    <DxGridDataColumn Caption="Konu" FieldName="Subject" />
                    <DxGridDataColumn Caption="Teminat Belge No" FieldName="GuaranteeNumber">
                        <CellDisplayTemplate>
                            <a href="javascript:void(0);"
                               style="text-decoration:none; font-weight:bold; color: #0056b3;"
                               @onclick="() => OnGuaranteeDetailsClick((GuaranteeModel)context.DataItem)"
                               @onclick:stopPropagation>
                                @context.Value
                            </a>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn Caption="Teminat Türü" FieldName="GuaranteeType" />
                    <DxGridDataColumn Caption="Teminat Şekli" FieldName="GuaranteeForm" />
                    <DxGridDataColumn Caption="Teminat Tutarı" FieldName="GuaranteeAmount" DisplayFormat="N2" />
                    <DxGridDataColumn Caption="Teminat Kominsyon Oranı" FieldName="CommissionRate" DisplayFormat="N4" Visible="false" />
                    <DxGridDataColumn Caption="Toplam Komisyon Tutarı" FieldName="CommissionAmount" DisplayFormat="N2" />
                    <DxGridDataColumn Caption="Teminat Komisyon Dönemi" FieldName="GuaranteeCommissionPeriodName" Visible="false" />
                    <DxGridDataColumn Caption="Banka" FieldName="BankName" />
                    <DxGridDataColumn Caption="Banka Şubesi" FieldName="BankBranchName" Visible="false" />
                    <DxGridDataColumn Caption="Ünvanı" FieldName="PublicAuthorityName" />
                    <DxGridDataColumn Caption="Düzenlenme Tarihi" FieldName="GuaranteeDate" />
                    <DxGridDataColumn Caption="Cari" FieldName="PublicAuthorityCode" />
                    <DxGridDataColumn Caption="Gider Hesap Kodu" FieldName="ExpenseAccountCode" />
                    <DxGridCommandColumn Width="6em" DeleteButtonVisible="false" EditButtonVisible="true" />
                </Columns>
                <GroupSummary>
                    <DxGridSummaryItem FieldName="Id" SummaryType="GridSummaryItemType.Count" />
                </GroupSummary>
                <TotalSummary>
                    <DxGridSummaryItem DisplayText="Kayıt Sayısı:{0}" FieldName="Id" SummaryType="GridSummaryItemType.Count" />
                    <DxGridSummaryItem DisplayText="Toplam:{0}" FieldName="GuaranteeAmount" SummaryType="GridSummaryItemType.Sum" FooterColumnName="GuaranteeAmount" />
                    <DxGridSummaryItem DisplayText="Toplam:{0}" FieldName="CommissionAmount" SummaryType="GridSummaryItemType.Sum" FooterColumnName="CommissionAmount" />
                </TotalSummary>
            </DxGrid>
        </div>
    </div>
</div>

@code {
    CancellationTokenSource disposalTokenSource = new CancellationTokenSource();
    [CascadingParameter(Name = "ParentSizeMode")]
    SizeMode SizeMode { get; set; }

    private GridDevExtremeDataSource<GuaranteeModel> Data { get; set; } = null!;
    private IGrid? Grid { get; set; }
    private string? SearchText { get; set; }
    bool IsGuaranteePanelOpen { get; set; }
    bool IsGuaranteePanelPinned { get; set; }
    bool IsActiveGuaranteeLoading { get; set; }
    DrawerMode DrawerMode => IsGuaranteePanelPinned ? DrawerMode.Shrink : DrawerMode.Overlap;
    GuaranteeModel? ActiveGuarantee { get; set; }
    string GuaranteeTypeFilterValue { get; set; } = "Tümü";
    string[] GuaranteeTypes { get; } = new[] { "Geçici", "Kati" };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;
        await LoadGridDataAsync();
    }

    async Task LoadGridDataAsync()
    {
        var client = await ApiClientFactory.CreateAsync(HttpClientFactory.CreateClient("ApiClient"));
        Data = new GridDevExtremeDataSource<GuaranteeModel>(client, NavigationManager.ToAbsoluteUri("https://localhost:7071/api/guarantees"));
        if (Grid != null) Grid.Reload();
        await InvokeAsync(StateHasChanged);
    }

    void OnColumnChooserItemClick(ToolbarItemClickEventArgs e) => Grid!.ShowColumnChooser();

    Task ExportAllDataToExcel() => Grid!.ExportToXlsxAsync("Teminatlar");

    Task ExportSelectedRowsToExcel() => Grid!.ExportToXlsxAsync("Seçili Teminatlar", new GridXlExportOptions { ExportSelectedRowsOnly = true });

    Task ExportAllDataToCsv() => Grid!.ExportToCsvAsync("Teminatlar");

    Task ExportSelectedRowsDataToCsv() => Grid!.ExportToCsvAsync("Seçili Teminatlar", new GridCsvExportOptions { ExportSelectedRowsOnly = true });

    Task ExportAllDataToPdf() => Grid!.ExportToPdfAsync("Teminatlar");

    Task ExportSelectedRowsDataToPdf() => Grid!.ExportToPdfAsync("Seçili Teminatlar", new GridPdfExportOptions { ExportSelectedRowsOnly = true });

    void FilterByGuaranteeType(ToolbarItemClickEventArgs item)
    {
        GuaranteeTypeFilterValue = item.Info.Text;
        Grid!.FilterBy("GuaranteeType", GridFilterRowOperatorType.Equal, GuaranteeTypeFilterValue != "Tümü" ? GuaranteeTypeFilterValue : null);
    }

    async Task OnRowClick(GridRowClickEventArgs args)
    {
        var guarantee = (GuaranteeModel)Grid!.GetDataItem(args.VisibleIndex);

        if (guarantee != null)
        {
            NavigationManager.NavigateTo($"/guarantee/details/{guarantee.Id}");
        }
    }

    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            NavigationManager.NavigateTo("/guarantee/create");
        }
        else
        {
            var guarantee = (GuaranteeModel)e.DataItem;
            NavigationManager.NavigateTo($"/guarantee/edit/{guarantee.Id}");
        }
    }

    void OnGuaranteeDetailsClick(GuaranteeModel guarantee)
    {
        if (guarantee != null)
        {
            NavigationManager.NavigateTo($"/guarantee/details/{guarantee.Id}");
        }
    }

    void IDisposable.Dispose()
    {
        disposalTokenSource.Cancel();
        disposalTokenSource.Dispose();
    }
}