@page "/netsis/shipments/shippable-orders"
@using Microsoft.AspNetCore.WebUtilities
@using NetFlow.Blazor.Shared.Models.Netsis
@using NetFlow.Blazor.Shared.Models.Netsis
@inject NavigationManager NavigationManager
@inject IApiClientFactory ApiClientFactory
@inject IHttpClientFactory HttpClientFactory
<div class="content-root">
    <div class="filter-section mb-3 rounded border bg-white p-3 shadow-sm">
        <DxFormLayout>
            <DxFormLayoutItem Caption="Cari Hesap" ColSpanMd="4">
                <DxTextBox @bind-Text="@FilterRequest.Customer" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Cari Kodu Seçiniz...">
                    <Buttons>
                        <DxEditorButton IconCssClass="add-icon icon medium-icon" Click="OnCariSelectorClick" />
                    </Buttons>
                </DxTextBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="8">
                <div class="align-items-center d-flex h-100">
                    <DxCheckBox @bind-Checked="@FilterRequest.HasBalance">Bakiyesi Olanlar</DxCheckBox>
                </div>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Başlangıç" ColSpanMd="3">
                <DxDateEdit @bind-Date="@FilterRequest.StartDate" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Bitiş" ColSpanMd="3">
                <DxDateEdit @bind-Date="@FilterRequest.EndDate" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Depo" ColSpanMd="4">
                <DxComboBox Data="@Warehouses" @bind-Value="@FilterRequest.Warehouse" ValueFieldName="DEPO_KODU" TextFieldName="DEPO_TANIMI" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="2">
                <DxButton Text="Filtrele" RenderStyle="ButtonRenderStyle.Primary" Click="@LoadDataAsync" Width="100%" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </div>
    <div class="card toolbar integrated-toolbar mb-2 shadow-sm">
        <DxToolbar Title="Sevkiyat Sipariş Listesi">
            <DxToolbarItem Text="Sevkiyat Oluştur" Alignment="ToolbarItemAlignment.Left" Click="OnSevkiyatOlusturClick" IconCssClass="add-icon icon medium-icon" CssClass="btn-sevkiyat-success" />
            <DxToolbarItem Tooltip="Sütun Seçici" Alignment="ToolbarItemAlignment.Right" Click="OnColumnChooserItemClick" IconCssClass="column-chooser-icon icon medium-icon" />
            <DxToolbarItem Text="Dışarı Aktar" Alignment="ToolbarItemAlignment.Right" IconCssClass="export-icon icon medium-icon">
                <Items>
                    <DxToolbarItem Text="Excel'e Aktar" Click="ExportAllDataToExcel" />
                    <DxToolbarItem Text="Seçili Satırları Excel'e Aktar" Click="ExportSelectedRowsToExcel" />
                </Items>
            </DxToolbarItem>
            <DxToolbarItem Alignment="ToolbarItemAlignment.Right">
                <Template Context="searchContext"><DxSearchBox NullText="Ara..." @bind-Text=SearchText /></Template>
            </DxToolbarItem>
            <DxToolbarItem Tooltip="Refresh" BeginGroup="true" Click="@LoadDataAsync" Alignment="ToolbarItemAlignment.Right" IconCssClass="refresh-icon icon medium-icon" />
        </DxToolbar>
    </div>
    <DxGrid @ref="Grid"
            Data="@Data"
            VirtualScrollingEnabled="true"
            ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
            ShowGroupPanel="true"
            ShowFilterRow="true"
            ShowSearchBox="false"
            SearchText="@SearchText"
            TextWrapEnabled="false">
        <Columns>
            <DxGridSelectionColumn Width="60px" />
            <DxGridDataColumn Caption="Sipariş No" FieldName="OrderNo"/>
            <DxGridDataColumn Caption="Cari Kodu" FieldName="CustomerCode"/>
            <DxGridDataColumn Caption="Cari Adı" FieldName="CustomerName"/>
            <DxGridDataColumn Caption="Stok Kodu" FieldName="StockCode"></DxGridDataColumn>
            <DxGridDataColumn Caption="Stok Adı" FieldName="StockName"/>
            <DxGridDataColumn Caption="Miktar" FieldName="Quantity" DisplayFormat="N2" />
            <DxGridDataColumn Caption="Depo Adı" FieldName="Warehouse"/>
        </Columns>
    </DxGrid>
</div>

@code {
    private IGrid? Grid;
    private string SearchText { get; set; } = string.Empty;
    private GridDevExtremeDataSource<ShipmentOrderModel> Data { get; set; } = null!;
    private ShippableOrdersFilterRequest FilterRequest { get; set; } = new ShippableOrdersFilterRequest();
    private List<WarehouseModel> Warehouses { get; set; } = new List<WarehouseModel>();

    void OnCariSelectorClick()
    {
        // Cari selector logic here
    }

    void OnSevkiyatOlusturClick()
    {
        // Sevkiyat oluştur logic here
    }

    void OnColumnChooserItemClick()
    {
        Grid?.ShowColumnChooser();
    }

    void OnRowClick(GridRowClickEventArgs args)
    {

    }

    async Task LoadDataAsync()
    {
        string customer = FilterRequest.Customer ?? string.Empty;
        short? warehouse = FilterRequest.Warehouse;
        DateTime? startDate = FilterRequest.StartDate;
        DateTime? endDate = FilterRequest.EndDate;
        bool hasBalance = FilterRequest.HasBalance;


        var query = new Dictionary<string, string?>()
        {
            ["customer"] = FilterRequest.Customer,
            ["warehouse"] = FilterRequest.Warehouse?.ToString(),
            ["startDate"] = FilterRequest.StartDate?.ToString("yyyy-MM-dd"),
            ["endDate"] = FilterRequest.EndDate?.ToString("yyyy-MM-dd"),
            ["hasBalance"] = FilterRequest.HasBalance.ToString().ToLower()
        };

        var url = QueryHelpers.AddQueryString(
        "api/netsis/shipments/shippable-orders",
            query.Where(x => !string.IsNullOrWhiteSpace(x.Value))
                 .ToDictionary(x => x.Key, x => x.Value!)
        );



        var client = await ApiClientFactory.CreateAsync(HttpClientFactory.CreateClient("ApiClient"));
        Data = new GridDevExtremeDataSource<ShipmentOrderModel>(client, NavigationManager.ToAbsoluteUri("https://localhost:7071/api/netsis/shipments/shippable-orders"));
    }

    Task ExportAllDataToExcel() => Grid?.ExportToXlsxAsync("Siparis Listesi") ?? Task.CompletedTask;
    Task ExportSelectedRowsToExcel() => Grid?.ExportToXlsxAsync("Seçili Siparisler", new GridXlExportOptions { ExportSelectedRowsOnly = true }) ?? Task.CompletedTask;
}