@page "/account/login"
@rendermode InteractiveServer
@layout AccountLayout
@inject ILoginService LoginService
@inject NavigationManager navigationManager

<PageTitle>Giriş Yap</PageTitle>
<div class="block-content card">
    <EditForm Model="@Input" method="post" OnValidSubmit="LoginUser" FormName="login" Context="Login">
        <DataAnnotationsValidator />
        <DxFormLayout CaptionPosition=@CaptionPosition.Vertical>
            <DxFormLayoutItem ColSpanMd="12">
                <div class="title">
                    <div class="title-text">Giriş Yap</div>
                </div>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Firma Seçiniz" ColSpanMd="12">
                <DxComboBox Data="@Firms"
                            @bind-Value="@Input.FirmCode"
                            TextFieldName="@nameof(FirmModel.FirmName)"
                            ValueFieldName="@nameof(FirmModel.FirmCode)"
                            NullText="Lütfen bir firma seçin..." />
                <ValidationMessage For="() => Input.FirmCode" class="text-danger" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="E-Posta" ColSpanMd="12" BeginRow="true">
                <DxTextBox name="Input.Email" type="email" @bind-Text="@Input.Email" BindValueMode="BindValueMode.OnInput" />
                <ValidationMessage class="text-danger" For="() => Input.Email" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Şifre" ColSpanMd="12" BeginRow="true">
                <DxTextBox name="Input.Password" @bind-Text="@Input.Password" BindValueMode="BindValueMode.OnInput" Password="true" />
                <ValidationMessage class="text-danger" For="() => Input.Password" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="12" BeginRow="true">
                <DxCheckBox name="Input.RememberMe" InputId="rememberme" @bind-Checked="@Input.RememberMe">Beni hatırla?</DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="12" BeginRow="true">
                <DxButton CssClass="w-100" SubmitFormOnClick="true" Text="Giriş"></DxButton>
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditForm>
</div>

@code {
    private string? errorMessage;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private List<FirmModel> Firms = new List<FirmModel>
    {
        new FirmModel { FirmCode = "01", FirmName = "Makromed" },
        new FirmModel { FirmCode = "02", FirmName = "Makrolab" },
    };

    private async Task LoginUser()
    {
        await LoginService.LoginAsync(new Auth.LoginRequest
        {
            Email = Input.Email,
            Password = Input.Password,
            FirmCode = Input.FirmCode
        });

        navigationManager.NavigateTo("/");
    }

    private sealed class InputModel
    {
        [Required]
        public string FirmCode { get; set; } = "";

        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Beni hatırla?")]
        public bool RememberMe { get; set; }
    }
}