@inject NavigationManager NavigationManager
@inject IApiClientFactory ApiClientFactory
@inject IHttpClientFactory HttpClientFactory
@inject IToastNotificationService ToastService

<DxPopup @bind-Visible="@IsPopupVisible" ShowFooter="true" HeaderText="Talep Oluştur" Width="800px">
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CaptionPosition="CaptionPosition.Horizontal">
            <DxFormLayoutItem Caption="Teminat No" ColSpanMd="12">
                <DxTextBox Text="@Tender.TenderCode" ReadOnly="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Kamu/Kurum" ColSpanMd="12">
                <DxTextBox Text="@Tender.PublicAuthorityName" ReadOnly="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Alt Kamu/Kurum" ColSpanMd="12">
                <DxTextBox Text="@TenderOpex.UnitName" ReadOnly="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Stok Kodu" ColSpanMd="12">
                <DxTextBox Text="@TenderOpex.StockCode" ReadOnly="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Stok Adı" ColSpanMd="12">
                <DxTextBox Text="@TenderOpex.StockName" ReadOnly="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Miktar" ColSpanMd="12">
                <DxTextBox Text="@TenderOpex.Quantity.ToString()" ReadOnly="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Talep Türü" ColSpanMd="12">
                <DxComboBox Data="RequestTypes" @bind-Value="model.RequestType" ValueFieldName="Value" TextFieldName="Text" ValidationEnabled="true" ShowValidationIcon="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Öncelik" ColSpanMd="12">
                <DxComboBox Data="Priorities" @bind-Value="model.Priority" ValueFieldName="Value" TextFieldName="Text" ValidationEnabled="true" ShowValidationIcon="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Gerekli Tarih" ColSpanMd="12">
                <DxDateEdit @bind-Date="model.RequiredDate" DisplayFormat="dd.MM.yyyy" ValidationEnabled="true" ShowValidationIcon="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Talep Eden Departman" ColSpanMd="12">
                <DxTextBox @bind-Text="model.RequestedDepartment" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Kaynak Referans" ColSpanMd="12">
                <DxComboBox Data="SourceTypes" @bind-Value="model.SourceType" ValueFieldName="Value" TextFieldName="Text" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Açıklama" ColSpanMd="12">
                <DxMemo @bind-Text="model.Description" Rows="4" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton RenderStyle="ButtonRenderStyle.Primary" Text="Kaydet" IconCssClass="dx-icon-save" Click="OnSave" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Vazgeç" IconCssClass="dx-icon-close" Click="() => IsPopupVisible = false" />
    </FooterContentTemplate>
</DxPopup>

@code {
    [Parameter] public required bool IsPopupVisible { get; set; }
    [Parameter] public required TenderModel Tender { get; set; }
    [Parameter] public required TenderOpexModel TenderOpex { get; set; }
    [Parameter] public EventCallback OnSaved { get; set; }
    [Parameter] public EventCallback OnCanceled { get; set; }

    private MaterialRequestModel model = new();

    private List<EnumItem<MaterialRequestPriority>> Priorities =
    Enum.GetValues<MaterialRequestPriority>()
    .Select(x => new EnumItem<MaterialRequestPriority>
    {
        Value = x,
        Text = x.GetDescription()
    })
    .ToList();

    private List<EnumItem<MaterialRequestType>> RequestTypes =
    Enum.GetValues<MaterialRequestType>()
    .Select(x => new EnumItem<MaterialRequestType>
    {
        Value = x,
        Text = x.GetDescription()
    })
    .ToList();


    private List<EnumItem<MaterialRequestSourceType>> SourceTypes =
    Enum.GetValues<MaterialRequestSourceType>()
    .Select(x => new EnumItem<MaterialRequestSourceType>
    {
        Value = x,
        Text = x.GetDescription()
    })
    .ToList();


    private async Task OnSave()
    {
        try
        {
            var httpClient = HttpClientFactory.CreateClient("ApiClient");
            var client = await ApiClientFactory.CreateAsync(httpClient);

            var response = await client.PostAsJsonAsync("api/tender-opex/create-material-request", new
            {
                TenderId = Tender.Id,
                TenderOpexId = TenderOpex.Id,
                RequestType = model.RequestType,
                Priority = model.Priority,
                RequiredDate = model.RequiredDate,
                RequestedDepartment = model.RequestedDepartment,
                SourceType = model.SourceType,
                Description = model.Description,
                ItemCode = TenderOpex.StockCode,
                ItemName = TenderOpex.StockName,
                RequestedQuantity = TenderOpex.Quantity,
                FulfilledQuantity = TenderOpex.Quantity,
                Unit = TenderOpex.Unit,
                WarehouseCode = "1000",
                AlternateItemCode = "",
                Status = MaterialRequestItemStatus.Pending,
                FulfillmentType = MaterialRequestItemFulfillmentType.Undefined
            });

            if (response.IsSuccessStatusCode)
            {
                ToastService.ShowToast(new ToastOptions()
                {
                    Id = "toast",
                    ProviderName = "Overview",
                    ThemeMode = ToastThemeMode.Light,
                    RenderStyle = ToastRenderStyle.Success,
                    Title = "Başarılı",
                    Text = "Malzeme talebi başarılı bir şekilde oluşturuldu."
                }, RenderToastButton(false));
            }
            else
            {
                var errorMsg = await response.Content.ReadAsStringAsync();
                ToastService.ShowToast(new ToastOptions()
                {
                    Id = "toast",
                    ProviderName = "Overview",
                    ThemeMode = ToastThemeMode.Light,
                    RenderStyle = ToastRenderStyle.Warning,
                    Title = "Hata",
                    Text = string.IsNullOrWhiteSpace(errorMsg) ? "Malzeme talebi kaydedilirken bir hata oluştu." : errorMsg

                }, RenderToastButton(true));
                var error = await response.Content.ReadAsStringAsync();
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowToast(new ToastOptions()
            {
                Id = "toast",
                ProviderName = "Overview",
                ThemeMode = ToastThemeMode.Light,
                RenderStyle = ToastRenderStyle.Danger,
                Title = "Hata",
                Text = string.IsNullOrWhiteSpace(ex.Message) ? "Beklenmedik bir hata oluştu." : ex.Message
            }, RenderToastButton(true));
        }

    }

    private RenderFragment RenderToastButton(bool isError)
    {
        return  @<div class="d-flex gap-2">
            <DxButton Click="@(isError? OnError : OnSuccess)" RenderStyle="@(isError? ButtonRenderStyle.Danger: ButtonRenderStyle.Success)">Kapat</DxButton>
        </div>;
    }


    private async Task OnSuccess()
    {
        ToastService.CloseToast("toast");

        if (OnCanceled.HasDelegate)
            await OnCanceled.InvokeAsync();

        IsPopupVisible = false;
    }

    private async Task OnError()
    {
        ToastService.CloseToast("toast");

        if (OnCanceled.HasDelegate)
            await OnCanceled.InvokeAsync();
    }
}
